# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,

*       @zarubaf @fabianschuiki

# The DMA is owned by @thommythomaso
hw/ip/snitch_dma @thommythomaso

sw/banshee @SamuelRiedel @paulsc96
