extends: default

rules:
  document-start: disable
  comments:
    min-spaces-from-content: 1
  line-length:
    allow-non-breakable-words: true
    allow-non-breakable-inline-mappings: true

ignore-from-file:
  - .gitignore
  - .yamlignore
  - hw/system/.gitignore
