# Copyright 2020 ETH Zurich and University of Bologna.
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0

# Keep sorted.
clang-format
device-tree-compiler
graphviz
python3
python3-pip
python3-setuptools
python3-wheel
tar
