# Copyright 2020 ETH Zurich and University of Bologna.
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0

# Derived from https://github.com/pulp-platform/axi

# Some CI test run on our GitLab servers due to licenses and tools

name: gitlab-ci

on: [push, pull_request, workflow_dispatch]

jobs:
  gitlab-ci:
    runs-on: ubuntu-22.04
    steps:
    - name: Check Gitlab CI
      uses: pulp-platform/pulp-actions/gitlab-ci@v1
      with:
        domain: iis-git.ee.ethz.ch
        repo: github-mirror/snitch
        token: ${{ secrets.GITLAB_TOKEN }}
        poll-period: 20
        poll-count: 2000
        retry-count: 100
        retry-period: 50
